<%= render partial:"shared/navbar"%>

<section class="single-blog-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="border-top">
                <div class="col-md-12">
                <div class="blog-area">
                    <div class="blog-area-part">
                    
                        <h2><%= @blogpost.title %></h2>
                        <img class="img-fluid" src="<%= url_for(@blogpost.image)%>" />
                        <div class="for-style">
                            <p><span class="drop_caps"><%=@blogpost.description.first%></span><%=@blogpost.description%></p>
                        </div>
                        
                    </div>
                    <% unless Current.blogger.nil?%>
                    <%= render partial: "comments/comment"%>
                    
                    <%= render partial: 'comments/form', locals: {parent_id: nil}%>
                </div>
            <%end%>
            </div>
            
            </div>
            </div>
        </div>
    </div>
</section>




