<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
  <div class="col-md-6">

    
    <div class="collapse navbar-collapse" id="navbarNav">
    <%= link_to "BLOGS", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link active" %>
        </li>
        <% unless Current.blogger.nil?%>
        <li class="nav-item">
          <%= link_to "New Post",  new_blogpost_path, class:"nav-link" %>
        </li>
      
        <% end %>
        <form action="<%= blogposts_path %>" class="d-flex" role="search">
        <input class="form-control me-2" type="search" name="search_key" placeholder="Search Blog" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

        
      </ul>
    </div>
  


  </div>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
       <% if Current.blogger %>
        <li class="nav-item">
         <%= link_to Current.blogger.email, resetpassword_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
         <%= button_to "logout", logout_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
         <%= link_to "Sign Up", register_path, class: "nav-link" %>
       </li>
       <li class="nav-item">
        <%= link_to "Login", userlogin_path, class: "nav-link" %>
      </li>
       
    
  <% end %>
  </ul>
  </div>
</nav>