<%= render partial: "shared/navbar"%>
<%= render partial: "shared/carousel"%>

<section class="blog-post-area">
    <div class="container">
        <div class="row">
            
            <% @blogposts.reverse_each do |post| %>
                <% if post.status=='public'%>
                    
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        <div class="single-post">
                            <%if post.image.attached?%>
                            <img class="img-fluid" src="<%= url_for(post.image)%>" />
                            <%end%>
                            <h3><%= link_to post.title, blogpost_path(post)%></a></h3>
                                <h5>Category : <%= post.category%></h5>
                            
                            <h4><span>Posted By: <span class="author-name"><%= post.blogger.first_name+" "+post.blogger.last_name%></span></span>
                            </h4>
                            <h4><span><%= post.updated_at%></span></h4>

                            <%# <%= link_to "Edit", edit_blogpost_path(post) , class: "btn btn-primary"%>
                            <%# <%= link_to "Delete", blogpost_path(post), class: "btn btn-primary", data: {
                                        turbo_method: :delete,
                                        turbo_confirm: "Are you sure?"
                                    } %>  
                            
                        </div>
                    </div>
                    
                        
                    
                <%end%>
            <%end%>
        
        </div>
    </div>
    
</section>
 <div class="pegination">
       
        <%= paginate @blogposts%>
  
    </div>
<%= render partial: "shared/footer"%>