
<%= render partial: "shared/navbar"%>

<%= form_with model: Current.blogger, url: resetpassword_path do |form|%>
<% if form.object.errors.any?%>
        <div class="alert alert-danger">
        <% form.object.errors.full_messages.each do |message|%> 
            <div><%= message %></div>
        <% end %>
        </div>
    <% end %>

<section class="sign-in">
<div class="container">
    <div class="signin-content">
        <div class="signin-image">
            <figure><%= image_tag "signin-image.jpg" %></figure>
            <a href="/register" class="signup-image-link">Create an account</a>
        </div>

        <div class="signin-form">
            <h2 class="form-title">Sign in</h2>

            <div class="form-group">
                <i class="zmdi zmdi-email"></i>
                <%=form.text_field :email, class: "form-control", id: "inputEmail", type:"email", placeholder: "name@example.com"  %>
            </div>
            <div class="form-group">
                <i class="zmdi zmdi-lock"> </i>
                <%= form.password_field :password, class:"form-control", id:"inputPassword", type: "password", placeholder: "Create a new password", required: true  %>
            </div>
            <div class="form-group">
                <i class="zmdi zmdi-lock"> </i>
                <%= form.password_field :password_confirmation, class:"form-control", id:"inputPassword", type: "password", placeholder: "Confirm the new password", required: true  %>
            </div>
        
            <div class="form-group form-button">
                <%= form.submit "Confirm", class:"form-submit"%>
                <%= link_to "Go Back", blogposts_path(:blogposts =>'all'), class:"form-submit"%>
            </div>
           
        </div>
    </div>
</div>
</section>


<% end %>      
        





            